body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(75, 113, 179, 0.8),
            rgba(124, 192, 147, 0.8)),
        url(images/mountains.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #efeadd;
}

.header {
    margin: 50px 0 20px 0;
    text-align: center;
}

.main-title {
    font-size: 40px;
    margin: 0;
}

.sub-title {
    font-size: 20px;
    font-style: italic;
    margin: 0;
}

#form {
    width: 50%;
    margin: 0 auto 50px;
    background-color: rgba(49, 91, 126, 0.6);
    border-radius: 1%;
    padding: 30px 40px;
}

.form-group {
    margin: 15px;
    padding: 2px;
}

.display {
    display: block;
    width: 100%;
    height: 28px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: grey;
    margin-top: 2px;
}

.select {
    cursor: pointer;
}

.text {
    height: 70px;
}

.button {
    width: 80%;
    height: 35px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    background-color: rgb(124, 192, 147);
    color: #efeadd;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(66, 181, 104, 0.86);
}

@media (max-width:500px) {
        #form {
        width: 100%;
        margin: auto;
        padding: 3px;
    }
}